# Node and Next.js build folders in root and ANY subfolder
node_modules/
.next/
.next-dev/
.next-prod/
**/node_modules/
**/.next/
**/.next-dev/
**/.next-prod/

# All .env files in all folders (super critical)
.env
**/.env

/app/generated/prisma
